:root {
  --lightbg: #f2effc;
  --bg: #b3a6e0;
  --lightfg: #473173;
  --fg: #2c0349;
  --font: #473173;
  --lightgrey: #e6e6e6;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.centered-section {
  height: 90vh;
}

.carousel-section {
  height: 90vh;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.elements-section {
  height: 80vh;
  background-color: var(--bg);
}

.images-section {
  height: 80vh;
  padding: 7vh 0;
  background-color: var(--lightbg);
}

.form-section {
  height: 80vh;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .elements-section {
    height: 180vh;
  }
}